<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário de Bordo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/estilo.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>

    <header>
        <div class="navbar">
            <h1>Diário de Bordo</h1>
            <nav>
                <a href="{{ url_for('index') }}">Minhas Memórias</a>
                <a href="{{ url_for('adicionar') }}">Nova Memória</a>
                <a href="{{ url_for('logout') }}" style="color: #ff9999;">Sair</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>